<!DOCTYPE html>
<html lang="ru">
<head>
	<title>25.07.2014: История одного шаблонизатора, от xml к xtpl и data-binding</title>

	<meta charset="utf-8"/>
	<meta name="viewport" content="width=792, user-scalable=no"/>
	<meta http-equiv="x-ua-compatible" content="ie=edge"/>

	<link rel="stylesheet" href="../shwr/styles/screen.css"/>

</head>
<body class="list">

	<header class="caption">
		<h1>25.07.2014</h1>
		<p>История одного шаблонизатора, от xml к xtpl и data-binding</p>
	</header>


	<section class="slide shout"><div>
		<h2>Задача</h2>
	</div></section>


	<section class="slide"><div>
		<h2>Задача</h2>
		<ul>
			<li><b>Сделать самый быстрый, пербыстрый шаблонизатор</b>. Чтобы он с одинаковым успехом работал,
			как на сервере, так и клиенте.</li>
			<li class="next"><b>Стабильность</b>. В случае ошибки, не падать, а выводить что и где случилось (файл, строка, символ и описание ошибки)</li>
			<li class="next"><b>Ошибки</b>, как компиляции, так и runtime.</li>
			<li class="next">Защита XSS.</li>
		</ul>
	</div></section>


	<section class="slide shout"><div>
		<h2>И началось ;]</h2>
	</div></section>


	<section class="slide shout"><div>
		<h2>Синтаксис?</h2>
	</div></section>


	<section class="slide shout"><div>
		<h2>Я знаю Smarty!</h2>
	</div></section>


	<section class="slide"><div>
		<h2>Smarty</h2>
		<pre class="js-code">
			&lt;div&gt;
				{{if expr }}
					Вот поэтому Smarty и подобные плохи, {{$username}}.
			&lt;/span&gt;
				{{/if}}
		</pre>
		<p>Очень велика степень ошибки, а сам шаблонизатор никак не проверяет валидность получаемого html.</p>
	</div></section>


	<section class="slide shout"><div>
		<h2><img width="400" src="../st/sumin-xml.png" style="border-radius: 5px"/></h2>
	</div></section>


	<section class="slide shout"><div>
		<h2><img width="500" src="http://www.fm-base.co.uk/forum/attachments/football-manager-2013-best-players/338955d1367867900-challenge-accepted-8ccab893d3c14177249c3f1fc88168cc-challenge-accepted-guy.jpg"/></h2>
	</div></section>


	<section class="slide shout"><div>
		<h2><a href="https://github.com/RubaXa/AsyncTpl">AsyncTpl</a></h2>
	</div></section>


	<section class="slide"><div>
		<h2><a href="https://github.com/RubaXa/AsyncTpl">AsyncTpl</a></h2>
		<ul>
			<li>Поддержка двух синтаксисов (XML, Smarty)</li>
			<li class="next">Стриминг</li>
			<li class="next">Ошибки компиляции и выполенения</li>
			<li class="next">Очень быстрый :]</li>
		</ul>
	</div></section>


	<section class="slide shout"><div>
		<h2>Синтаксис</h2>
	</div></section>


	<section class="slide"><div>
		<h2>Синтаксис: поддрежка XML & Smarty</h2>
		<p>Что у них общего?</p>
		<pre class="js-code compact">
			#!+ &lt;!-- XML --&gt;
			&lt;xtpl:if test="expr"&gt; .. &lt;/xtpl:if&gt;
			#!- &lt;xtpl:value&gt; expr &lt;/xtpl:value&gt;

			#!+ &lt;!-- Smarty --&gt;
			{{if expr }} .. {{/if}}
			#!- {{ expr }}
		</pre>
	</div></section>


	<section class="slide shout"><div>
		<h2>Ничего!<br/><b class="next">Но :]</b></h2>
	</div></section>


	<section class="slide"><div>
		<h2>XML Парсер</h2>
		<pre class="js-code compact">
			new Parser({
				#! left: "&lt;"
				#! right: "&gt;"
				#!+ c_open: "&lt;!--"
				c_close: "--&gt;"
				tags: false
				trim: true
				#!- firstLine: true
			});
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>Smarty Парсер</h2>
		<pre class="js-code compact">
			new Parser({
				#! left: "{{"
				#! right: "}}"
				#! tags: "foreach include extends block ..."
			});
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>Пример парсинга</h2>
		<pre class="js-code compact">
			&lt;!-- XML --&gt;
			&lt;div&gt;
				&lt;xtpl:if test="expr"&gt;OK&lt;/xtpl:if&gt;
			&lt;/div&gt;

			&lt;!-- Smarty --&gt;
			&lt;div&gt;
				{{if expr}}OK{{/if}}
			&lt;/div&gt;
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>Резльтат парсинга XML</h2>
		<pre class="js-code compact-xs">
			[{
				#! name: "div", type: 1, <mark class="next">__open: true</mark> // &lt;div&gt;
			}, {
				#! name: "if", ns: "xtpl", type: 1, <mark class="next">__open: true</mark>, // &lt;xtpl:if
				#!+ attributes: [{
					#! name: "test", type: 2, value: "expr" // test="expr"&gt;
				#!- }]
			}, {
				#! name: "#text", type: 3, value: "OK" // текст в if
			}, {
				#! name: "if", ns: "xtpl", type: 1, <mark class="next">__close: true</mark> // &lt;/xtpl:if&gt;
			}, {
				#! name: "div", type: 1, <mark class="next">__close: true</mark> // &lt;/div&gt;
			}]
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>Резльтат парсинга Smarty</h2>
		<pre class="js-code compact-s">
			[{
				#! name: "#text", type: 3, value: "&lt;div&gt;" // &lt;div&gt;
			}, {
				#! name: "if", type: 1, __open: true, // {{if
				#! <mark class="next">attributes: "expr"</mark> // expr}}
			}, {
				#! name: "#text", type: 3, value: "OK" // текст в if
			}, {
				#! name: "if", type: 1, __close: true // {{/if}}
			}, {
				#! name: "#text", type: 3, value: "&lt;/div&gt;" // &lt;/div&gt;
			}]
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>Помимо этого</h2>
		<div>Массив состоял не из простых объектов, а был экземпляром класса <b>Node</b>:</div>
		<ul>
			<li><b>ns</b>:String — пространство имен узла</li>
			<li><b>name</b>:String — имя узла</li>
			<li><b>type</b>:Number — тип</li>
			<li><b>value</b>:String — значение</li>
		</ul>
	</div></section>


	<section class="slide"><div>
		<h2>Node</h2>
		<ul>
			<li><b>__open</b>:Boolean — открывающий узел</li>
			<li><b>__close</b>:Boolean — закрывающий</li>
			<li><b>__empty</b>:Boolean — пустой</li>
			<li><b>__file</b>:String — откуда узел</li>
			<li><b>__line</b>:Number — номер строки</li>
		</ul>
	</div></section>


	<section class="slide"><div>
		<h2>Node</h2>
		<ul>
			<li><b>attr(name)</b>:String — получить значение атрибута, в случае его отсутствия, бросить исключение</li>
			<li><b>attrAny(name, def)</b>:String|undefined</li>
		</ul>
	</div></section>


	<section class="slide shout"><div>
		<h2>Трансформация</h2>
	</div></section>


	<section class="slide"><div>
		<h2>Трансформация</h2>
		<pre class="js-code compact-xxs" style="margin-left: -50px">
			_trans: function (node, input, stack) {
				var val;
				switch (node.name) {
					#!+ case "if": // if test="expr"
						#! val = node.__open
							#! ? "__XIF=0;" + _try("__XIF=(" + node.attr("test") + ")", node) + "if(__XIF){";
							#! : "}"
					 	#!- break;
					#!+ case "foreach": // foreach data="array" item="val"
						val	= node.__open
								#! ? ("__XFOR=0;" + _try("__XFOR=" + node.attr("data"), node)
								#!+	+ "__buf.each(__XFOR, function (" + (node.attrAny("item", "__v")) + "){"
								#!- )
								#! : "});"
						#!- break;
				}
				// ..
			}
		</pre>
	</div></section>


	<section class="slide shout"><div>
		<h2>Итого v1</h2>
	</div></section>


	<section class="slide"><div>
		<h2>AsyncTpl::XML</h2>
		<pre class="js-code">
			var xtpl = require("AsyncTpl").engine("XML");
			xtpl.NS     = "xtpl";   // namespace
			xtpl.ASYNC  = true;     // async include templates
			xtpl.STREAM = false;    // streaming
			xtpl.ESCAPE = true;     // html escape all variables
			xtpl.DEBUG  = true;     // compile & run-time errors (console.log)
			xtpl.ROOT_DIR       = "./tpl/";
			xtpl.COMPILE_DIR    = "./tpl_c/";
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>AsyncTpl::Smarty</h2>
		<pre class="js-code">
			var smarty = require("AsyncTpl").engine("Smarty");
			smarty.LEFT = "{{";
			smarty.RIGHT = "}}";
			#!+ smarty.modifiers({ // {{ctx.expr|lower}}
				lower: function (val) {
					return val.toLowerCase();
				}
			#!- });
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>Основные моменты</h2>
		<ul>
			<li>Он мог стримить</li>
			<li>Работал в браузере и NodeJS</li>
			<li>Был быстрым, очень</li>
			<li>Не зависел от сторонних библиотек</li>
			<li>Выводил ошибки</li>
			<li>Поддерживал два синтаксиса Smarty и XML</li>
			<li>Весил 10KB (minified + gzipped)</li>
		</ul>
	</div></section>


	<section class="slide shout"><div>
		<h2>Пример</h2>
	</div></section>


	<section class="slide"><div>
		<h2>hello.xml</h2>
		<pre class="js-code">
			&lt;div&gt;
				&lt;xtpl:if test="ctx.expr"&gt;
					Hello!
				&lt;/xtpl:if&gt;
			&lt;/div&gt;
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>hello.js</h2>
		<pre class="js-code compact-s">
			function (ctx, __buf) {
				var __XIF;
				#! __buf.w("&lt;div&gt;");
				#!+ __XIF = 0;
				try { __XIF = ctx.expr; }  //  &lt;xtpl:if test="ctx.expr"&gt;
				#!- catch (e) { xtpl.error(e, 1, "path/to.xml"); }
				#!+ if (__XIF) {
					__buf.w("Hello!");
				#!- }
				#! __buf.w("&lt;/div&gt;");
				return __buf.toStr();
			}
		</pre>
	</div></section>


	<section class="slide shout"><div>
		<h2>А потом началось</h2>
	</div></section>


	<section class="slide"><div>
		<h2>А потом началось</h2>
		<p>Я начал пробовать шаблонизатор на реальных задача. Взял Backbone, написал простенький SAP и...</p>
	</div></section>


	<section class="slide"><div>
		<h2>users.xml</h2>
		<pre class="js-code">
			&lt;ul&gt;
				#!+ &lt;x:each data="ctx.users" as="user"&gt;
					#!+ &lt;li&gt;
						#! &lt;x:value&gt;user.get("name")&lt;/x:value&gt;
					#!- &lt;/li&gt;
				#!- &lt;/x:each&gt;
			&lt;/ul&gt;
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>Список.js</h2>
		<pre class="js-code compact">
			var UserList = new Backbone.View.extend({
				#! template: xtpl.compile("users.xml"),
				#!+ initialize: function () {
					this.listenTo(this.collection, "change", this.render);
				#!- },
				#!+ render: function () {
					#! var html = this.template({ users: this.collection.models });
					#! this.$el.html(html);
				#!- }
			});
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>App</h2>
		<pre class="js-code compact">
			// Где-то в приложении
			users.fetch({
				success: function () {
					#!+ var list = new UserList({
						el: "#users",
						collection: users
					#!- });
					#! list.render();
				}
			});
		</pre>
	</div></section>


	<section class="slide shout"><div>
		<h2>:[</h2>
	</div></section>


	<section class="slide"><div>
		<h2>Зачем?</h2>
		<pre class="js-code">
			#!+ // это?
			#!- this.listenTo(this.collection, "change", this.render);
		</pre>
		<div class="next">Почему шаблонизатор сам не может обновлять нужный участок шаблона?</div>
	</div></section>


	<section class="slide shout"><div>
		<h2>Я знаю,<br/>что нужно ;]</h2>
	</div></section>


	<section class="slide shout"><div>
		<h2>Версия 2.0</h2>
	</div></section>


	<section class="slide"><div>
		<h2>Версия 2.0</h2>
		<ul>
			<li>Выкинул поддерку Smarty</li>
			<li>Переписал парсер</li>
			<li>Убрал настраиваемый namesapce (оставил просто &lt;x:if/&gt;</li>
			<li class="next">Data binding ;] Yeah!</li>
		</ul>
	</div></section>


	<section class="slide shout"><div>
		<h2>Прасер</h2>
	</div></section>


	<section class="slide"><div>
		<h2>Прасер</h2>
		<div>Главное изменение в том, что на выходе терперь получалось дерево (наподобие DOM),
		c соответсвующими методами для работы с ним.</div>
	</div></section>


	<section class="slide"><div>
		<h2>Data binding + Backbone</h2>
		<pre class="js-code compact">
			#!+ &lt;x:bind data="ctx.items" as="list"&gt;
				&lt;ul&gt;
					#!+ &lt;x:each data="list" as="item"&gt;
						#!+ &lt;li&gt;
							&lt;x:value&gt;item.get("name")&lt;/x:value&gt;
						#!- &lt;/li&gt;
					#!- &lt;/x:each&gt;
				&lt;/ul&gt;
			#!- &lt;/x:bind&gt;
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>Data binding + Backbone</h2>
		<div><code>&lt;x:bind/&gt;</code> — создает замыкание (микро шаблон), подписывается на все события коллекции,
		при изменении которой, заново рендерил связанный блок.</div>
	</div></section>


	<section class="slide"><div>
		<h2>Data binding + Backbone</h2>
		<pre class="js-code compact">
			#!+ __buf.w("&lt;div id='uniqId'&gt;"); // &lt;x:bind
			#! try { __xbind = ctx.items; } catch (e) {} // data="ctx.items"
			#!+ __buf.bind(__xbind, <mark class="next">"uniqId"</mark>, function (list) { // as="list"
				__buf.w("&lt;ul&gt;"); // &lt;ul>
				#!+ __buf.each(list, function (item) { // &lt;x:each/>
					// вывод элементов
				#!- });
				__buf.w("&lt;/ul&gt;"); // &lt;/ul>
			#!- });
			#!- __buf.w("&lt;/div&gt;"); // &lt;/x:bind&gt;
		</pre>
	</div></section>


	<section class="slide shout"><div>
		<h2>А дальше хуже</h2>
	</div></section>


	<section class="slide"><div>
		<h2>А дальше хуже</h2>
		<ul>
			<li>Зачем &lt;x:bind/>?</li>
			<li class="next">Хочу без backbone</li>
			<li class="next">Биндинг везде</li>
		</ul>
	</div></section>


	<section class="slide"><div>
		<h2>А дальше хуже</h2>
		<p>Это был очень долгий и сложный путь, как внедрить data binding в обычный js шаблон,
		чтобы он работал как на сервере так и браузере.</p>
	</div></section>


	<section class="slide"><div>
		<h2>Шаблон</h2>
		<pre class="js-code compact">
			&lt;ul&gt;
				&lt;x:each <mark class="next">bind="ctx.list"</mark> as="item"&gt;
					#!+ &lt;li&gt;
						&lt;x:value <mark class="next">bind</mark>&gt;item.name&lt;/x:value&gt;
					#!- &lt;/li&gt;
				&lt;/x:each&gt;
			&lt;/ul&gt;
			#! &lt;b>total: &lt;x:value <mark>bind</mark>>ctx.list.length&lt;/x:value>&lt;/b>
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>Считаем позицую</h2>
		<pre class="js-code compact">
			&lt;ul&gt;
				&lt;x:each bind/&gt;  <span class="next">// [0]</span>
					&lt;li&gt;
						&lt;x:value bind/&gt; <span class="next">// [0, $idx, 0]</span>
					&lt;/li&gt;
				&lt;/x:each&gt;
			&lt;/ul&gt;
			&lt;b>total: &lt;x:value bind/>&lt;/b> <span class="next">// [1, 1]</span>
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>Шаблон.js</h2>
		<pre class="js-code compact-xxs">
			__buf.w("&lt;ul&gt;");
			#!+ __buf.bind("each", <mark>[0]</mark>, // &lt;x:each bind/&gt;
					#!+ function () { // getter
						try { return ctx.list; } catch (e) {}
					#!- },
					#!+ function (<mark class="next">__xbind0</mark>) { // микро шаблон
						__buf.w("&lt;li&gt;");
						#!+ __buf.bind("value", <mark>[0]</mark>, function () { // &lt;x:value bind/&gt;
							#! try { return <mark class="next">__xbind0.name</mark>; } catch (e) {} // getter
						}, function (__xbind0) { // микро шаблон
							#! __buf.v(__xbind0);
						#!- });
						__buf.w("&lt;/li&gt;");
					#!- }
			#!- );
			__buf.w("&lt;/ul&gt;");
			#! // и так далее
		</pre>
	</div></section>


	<section class="slide shout"><div>
		<h2>Прошло два года</h2>
	</div></section>


	<section class="slide shout"><div>
		<h2><a href="http://xtpl.ru">xtpl</a> (v4.0)</h2>
	</div></section>


	<section class="slide"><div>
		<h2>xtpl</h2>
		<ul>
			<li class="next">«Уникальный» синтаксис (спорный, но свой :])</li>
			<li class="next">Быстрый парсер на <b>str.charCodeAt(i)</b></li>
			<li class="next">Максимальная расширяемость</b></li>
			<li class="next">Data binding по умолчанию</li>
			<li class="next">Custom elements</li>
			<li class="next">Больше не считаю ноды :]</li>
		</ul>
	</div></section>


	<section class="slide shout"><div>
		<h2>Cинтаксис</h2>
	</div></section>


	<section class="slide"><div>
		<h2>Cинтаксис</h2>
		<pre class="js-code xtpl">
			input.btn.btn-success.xlarge[type="button"] {
			   on-tap: ctx.counter++;
			   value: ctx.counter || "Click me"
			}
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>Cинтаксис: Custom elements</h2>
		<pre class="js-code xtpl compact">
			&btn = button.btn { // Обявляем элемент «btn»
			   #!+ class: "btn-{{ctx.mod || 'default'}}"
			   | {{ctx.text}} // это текстовая нода
			   if ctx.icon {
				  #! &icon { x-name: ctx.icon }
			   #!- }
			}
			#! &btn { x-text: "Fine", x-mod: "success", type: "reset" }
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>Cинтаксис</h2>
		<p>Если вы решили создать свой синтаксис, то позаботьтесь о поддержки им хоть в одной IDE,
		иначе оно не имеет смысла. Конечно это только мое мнение, но без этого будет крайне трудно использовать
		подобную поделку.</p>
	</div></section>


	<section class="slide cover"><div>
		<img src="https://pbs.twimg.com/media/BPJc1WdCMAIhdN8.png:large" width="100%"/>
	</div></section>


	<section class="slide cover"><div>
		<img src="https://pbs.twimg.com/media/BPJhkLCCMAERJmV.png:large" width="100%"/>
	</div></section>


	<section class="slide cover"><div>
		<img src="https://pbs.twimg.com/media/BPJhzyTCEAANp1Z.png:large" width="100%"/>
	</div></section>


	<section class="slide cover"><div>
		<img src="https://pbs.twimg.com/media/BPJiDbMCEAAUkYn.png:large" width="100%"/>
	</div></section>


	<section class="slide shout"><div>
		<h2>Расширяемость</h2>
	</div></section>


	<section class="slide shout"><div>
		<h2>xtpl.tag</h2>
	</div></section>


	<section class="slide"><div>
		<h2>xtpl.tag</h2>
		<pre class="js-code compact">
			xtpl.tag({
				"nodeName": {
					#!+ // Препроцессин
					#!- pre: function (node, attrs) { },
					#!+ // JavaScript код
					code: function (node, attrs) {
						#! return ["begin", "end"];
					#!- }
				}
			});
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>xtpl.tag: Пример</h2>
		<pre class="js-code">
			xtpl.tag({ // loop[from=1][to=3] | {{$i}}
				#!+ "loop": function () {
					return [
						#! "for (var i = $from; i < $to; i++) {",
						#! "}"
					];
				#!- }
			});
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>xtpl.tag и атрибуты</h2>
		<ul>
			<li><b>&attr</b> — получить атрибут по имени, в случае отсутсвия бросить исключение + try catch</li>
			<li class="next"><b>&attr</b> — взять атрибут «как есть» без try catch</li>
			<li class="next"><b>@attr</b> — получить занчение атрибута строкой</li>
		</ul>
	</div></section>


	<section class="slide shout"><div>
		<h2>xtpl.decl</h2>
	</div></section>


	<section class="slide"><div>
		<h2>xtpl.decl</h2>
		<pre class="js-code compact-s">
			xtpl.decl("name", {
				#!+ compile: function (node, expr) {
					// Вызывается в момент компиляции
				#!- },
				#!+ init: function (el, value) {
					// Инициализация элемента (добавление в DOM)
				#!- },
				#!+ update: function (el, newValue, oldValue) {
					// Изменение значения
				#!- },
				#!+ remove: function (el) {
					// Удаления из DOM
				#!- }
			});
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>xtpl.decl: пример #1</h2>
		<pre class="js-code compact">
			xtpl.decl("x:show", {
				#!+ compile: function (node, expr) {
					var attrs = node.attrs;

					attrs.style = (attrs.style || "")
						+ ";{{" + expr + " ? '' : 'display: none;'}}";
				#!- }
			});
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>xtpl.decl: пример #2</h2>
		<pre class="js-code compact">
			// init(el, state) & update(el, state)
			xtpl.decl("x:autofocus", function (node, state) {
				#!+ if (state) {
					setTimeout(function () {
						#! el.focus();
						#!+ el.selectionStart =
						#!- el.selectionEnd = (el.value ? el.value.length : 0);
					}, 1);
				#!- }
			});
		</pre>
	</div></section>


	<section class="slide shout"><div>
		<h2>xtpl.mod</h2>
	</div></section>


	<section class="slide"><div>
		<h2>xtpl.mod</h2>
		<pre class="js-code">
			xtpl.mod("name", function (value, ...rest) {
				// Модификатор значения
			});
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>xtpl.mod: пример #1</h2>
		<pre class="js-code">
			// <u>Нужно</u>: &lt;b>Всего 2 письма&lt;/b>
			#! // <u>Шаблон</u>: b | Всего {{ctx.total | plural:"letters"}}
			#!+ xtpl.mod("plural", function (total, name) {
					#! // total — значение пеменной
					#! // name — название языковой константы
					#! return total + " " + i18n.plural(total, name);
			#!- });
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>xtpl.mod: пример #2</h2>
		<pre class="js-code">
			// <u>Нужно</u>: &lt;pre>{ &amp;quot;foo&amp;quot;: &amp;quot;bar&amp;quot; }&lt;/pre>
			// <u>Шаблон</u>: pre | {{ctx.data | pretty }}
			#!+ xtpl.mod("pretty", function (value) {
				return JSON.stringify(value, null, "\t");
			#!- });
		</pre>
	</div></section>


	<section class="slide shout"><div>
		<h2>Binding</h2>
	</div></section>


	<section class="slide"><div>
		<h2>Binding</h2>
		<p>Как я говорил раньше, основное отличие в том, что теперь не нужно считать ноды,
		а шаблон всё также представляет из себя фунцию.</p>
	</div></section>


	<section class="slide"><div>
		<h2>Binding: пример шаблона</h2>
		<div>Рассмотри пример ввода имени его его вывода:</div>
		<pre class="js-code xtpl">
			#! input { x-model: **ctx.name**, placeholder: "Enter your name" }
			#! h2 | Hello **{{ctx.name}}**!
		</pre>
		<pre class="js-code next">
			var el = document.getElementById("target");
			xtpl.bind(el, templateStr, { name: "" });
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>Binding: результат работы</h2>
		<pre class="js-code">
			&lt;div id="target">
				#!+ &lt;!--attrs-->
					&lt;input placeholder="Enter your name"/>
				#!- &lt;!--/attrs-->
				#! &lt;h2>Hello &lt;!--x:value-->&lt;!--/x:value-->!&lt;/h2>
			&lt;/div>
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>Binding: js-шаблон</h2>
		<pre class="js-code compact-xxs">
			__buf.bindOpen("attrs"); // &lt;!--attrs-->
			#! __buf.s("&lt;input");
			#!+ __buf.bindEvent("input", // x-model="ctx.name"
				#!+ function (el, evt) { // слушатель
					try { ctx.name = el.value } // получение значения
					catch (e) { __xerr(e, "hello.xtpl", 2); }
				#!- }
			#!- );
			#!+ __buf.bindAttr("value", // x-model="ctx.name"
				#!+ function (__xargs) { // getter
					try { __xargs[0] = ctx.name }
					catch (e) { __xerr(e, "hello.xtpl", 2) }
				#!- },
				#!+ function (__xbind0) {  // setter
					__buf.w(__xbind0)
				#!-}
			#!- );
			#! __buf.s(" placeholder='Enter your name'/>")
			__buf.bindClose("attrs"); // &lt;!--/attrs-->
		</pre>
	</div></section>


	<section class="slide"><div>
		<h2>Binding: js-шаблон</h2>
		<pre class="js-code compact-s">
			__buf.s("&lt;h2>Hello ")
			#!+ __buf.b("x:value", // {{ctx.name}}
				#!+ function (__xargs) {  // getter
					try { __xargs[0] = ctx.name }
					catch (e) { __xerr(e, "hello.xtpl", 3) }
				#!- },
				#!+ function (__xbind0) { // setter
					try { __xval0 = __xbind0 }
					catch (e) { __xval0 = void 0; __xerr(e, "hello.xtpl", 3) }
					__buf.w(__xval0);
				#!- }
			#!- );
			__buf.s("!&lt;/h2>")
		</pre>
	</div></section>


	<section class="slide shout"><div>
		<h2><a href="http://jsfiddle.net/RubaXa/2keRL/show/">Benchmark</a></h2>
	</div></section>


	<section class="slide" id="bench100"><div>
		<style>#bench100 td { padding-left: 30px; }</style>
		<h2>Benchmark</h2>
		<div>Performed 3000 iterations</div>
		<table>
			<tr>
				<th></th>
				<th>total, ms</th>
				<th>avg. per loop, ms</th>
			</tr>
			<tr class="next">
				<td>Reactive</td>
				<td>69 984</td>
				<td>23.33</td>
			</tr>
			<tr class="next">
				<td>React</td>
				<td>52 950</td>
				<td>17.65</td>
			</tr>
			<tr class="next">
				<td>AngularJS</td>
				<td>49 815</td>
				<td>16.61</td>
			</tr>
			<tr class="next">
				<td>Vue</td>
				<td>43 141</td>
				<td>14.38</td>
			</tr>
			<tr class="next" style="background-color: #c8e6ab">
				<td>xtpl</td>
				<td>33 458</td>
				<td>11.15</td>
			</tr>
		</table>
	</div></section>


	<section class="slide"><div>
		<h2>Эпилог</h2>
		<p>По-большому счету, это не готовый продукт, а исследование на тему,
		возможно ли доработать обычную js-функцию-шаблон до поддержки data binding, заставив всё это работать,
		как на сервере, так и клиенте. Как оказалось такой подход достаточно производительный
		и не уступает таким проектам как Angular или React, единственно что ему не хватает, это довести до ума :]</p>
	</div></section>


	<script src="../shwr/shower.js"></script>


	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-16483888-3', 'rubaxa.github.io');
	  ga('send', 'pageview');
	</script>
</body>
</html>
